<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thrift World</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
    <section>
        <div class="container mx-auto mt-16 flex justify-around">
            <div class="mr-16 mt-4">
                <div class="flex">
                <h1 class="font-bold text-3xl">THRIFT WORLD</h1>
               </div>
                <div class="mt-8 register w-96 shadow-2xl rounded p-5">
                     <h1 class="text-3xl font-medium">Welcome</h1>
                     <p class="text-sm">Register now!</p>
                     <%if(messages.error){%>
                        <span class="text-l  font-bold text-red-900"><%=messages.error%></span>
                     <%}%>
                     <form action="/register" method="post" class="space-y-5 mt-5">
                       <input type="text"  class="w-full h-12 border border-gray-800 rounded px-3" name="name" placeholder="Name" />
                       <input type="email" class="w-full h-12 border border-gray-800 rounded px-3" name="email" placeholder="Email" />
                       <div class="w-full flex items-center border border-gray-800 rounded px-3">
                         <input type="password" class="w-4/5 h-12" name="password" placeholder="Password" id="registerpassword" />
                         <span class="show rounded-md px-3 login-text" data-inp="registerpassword">Show</span>
                       </div>
                       <input type="tel" class="w-full h-12 border border-gray-800 rounded px-3" name="phoneNumber" placeholder="Phone Number" />
                       <div class="">
                         <a href="/login" class="link font-medium  rounded-md p-2">Already  have an account ?</a>
                       </div>
                       <button class="btn text-center w-full rounded-md text-white py-3 font-medium">REGISTER</button>
                     </form>
                   </div>
            </div>
        </div>
    </section>
    <script src="./../../script/app.js"></script>
</body>
</html>