<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thrift World</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/styles/app.css">
</head>

<body class="body">
    <header class="container mx-auto">
        <div class="flex justify-between">
            <div>
                <ul class="flex">
                    <li class="font-bold p-4"><a href="/">Home</a></li>
                    <li class="font-bold p-4">About</li>
                    <li class="font-bold p-4">Contact Us</li>
                    <li class="font-bold p-4"><a href="/register">Login</a></li>
                </ul>
            </div>
            <div>
                <h1 class="heading">THRIFT WORLD</h1>
            </div>
            <div>
                <ul class="flex">
                    <li class="font-bold p-4"><img src="/images/s-30.png" alt=""></li>
                    <li class="font-bold p-4"><img src="/images/b-30.png" alt=""></li>
                    <li class="font-bold p-4"><img src="/images/u-30.png" alt=""></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="hero items-center justify-center">
        <div class="container mx-auto mt-64">
            <h1 class="font-bold text-2xl">Welcome to the THRIFT WORLD!!</span></h1>
            <div class="mt-4">
                <button class="font-bold px-8 py-2 text-white btn">Shop</button>
                <button class="font-bold px-8 py-2 text-white btn ml-4">Sell</button>
            </div>
        </div>
    </section>
    <script src="/script/app.js"></script>
</body>

</html>