<section id="shopDiv" class="w-3/2 container mx-auto">
    <ul class="list-none">
            <li class="p-2">Men</li>
            <li class="p-2">Women</li>
            <li class="p-2">Kids</li>
    </ul>
</section>
<section id="searchDiv" class="w-1/2 mt-16">
    <div class="flex">
        <img src="/images/s-30.png" alt="">
        <input type="text" class="w-1/2 h-12 border border-gray-800 rounded px-3 border-none" name="search"
            placeholder="Search" />
    </div>
</section>
